{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block body_class %}
    {% if ckeditor %}
        sidebar-collapse
    {% endif %}
{% endblock %}

{% block header %}
    {% if not ckeditor %}
        {{ parent() }}
    {% endif %}
{% endblock header %}

{% block content_title %}Media Explorer{% endblock %}

{% block main %}
    {% set routeName = 'admin_media_explorer' %}

    <div class="panel panel-default">
        <div class="panel-heading">
            {% if breadcrumb|length > 1 %}
                <ul class="breadcrumb {{ app.request.xmlHttpRequest ? 'breadcrumb-ajax' : '' }}"
                    {{ not app.request.xmlHttpRequest ? 'style="margin: 0"' : '' }}>
                    {% for element in breadcrumb %}
                        <li {{ loop.last ? 'class="active"' : '' }} style="margin-bottom: 0;">
                            {% if loop.last %}
                                {{ element.name }}
                            {% else %}
                                <a href="{{ element.url }}">{{ element.name }}</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <span>/</span>
            {% endif %}
        </div>

        <ul class="list-group" style="margin: 0">
            <li class="list-group-item">
                <div class="row">
                    <div class="col-sm-6">
                        <form method="POST" action="{{ path(routeName, { path: currentPath }) }}" enctype="multipart/form-data">
                            <div class="input-group">
                                <div class="form-control">
                                    {{ form_widget(formUpload.file) }}
                                </div>
                                {{ form_rest(formUpload) }}
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="submit"><i class="fa fa-cloud-upload"></i> Envoyer le fichier dans le dossier courant</button>
                                </span>
                            </div>
                            <div class="text-danger">
                                {{ form_errors(formUpload.file) }}
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-6">
                        <form method="POST" action="{{ path(routeName, { path: currentPath }) }}">
                            <div class="input-group">
                                {{ form_errors(formFolder.folderName) }}
                                {{ form_widget(formFolder.folderName, {attr: {class: 'form-control'}}) }}
                                {{ form_rest(formFolder) }}
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> Créer un dossier</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </li>
            {% for directory in directories %}
                <li class="list-group-item">
                    <a href="{{ path(routeName, app.request.query.all|merge({ path: currentPath ~ '/' ~ directory.basename })) }}">
                        <i class="fa fa-folder"></i> {{ directory.basename }}
                    </a>
                </li>
            {% endfor %}
        </ul>

        {% set thumbnailClass = 'col-sm-3' %}
        <div class="panel-body data-manager-thumbnail">
            <div class="row">
                {% for media in medias %}
                    <div class="{{ thumbnailClass }}">
                        <div class="thumbnail text-center">
                            {% set typeOfFile = null %}
                            {% if media.extension == 'pdf' %}
                                {% set typeOfFile = 'pdf' %}
                            {% elseif media.extension == 'zip' %}
                                {% set typeOfFile = 'archive' %}
                            {% elseif media.extension == 'xls' or media.extension == 'xlsx' %}
                                {% set typeOfFile = 'excel' %}
                            {% elseif media.extension == 'doc' or media.extension == 'docx' %}
                                {% set typeOfFile = 'word' %}
                            {% endif %}

                            {% set relativePath = currentPath|trim('/') ~ '/' ~ media.basename %}

                            {% if typeOfFile %}
                                {% set link = path('download_show', {path: currentPath ~ '/' ~ media.basename})|replace({'/app_dev.php': '', '/app.php': ''}) %}
                                <i class="fa fa-file-{{ typeOfFile }}-o media-explorer-media"
                                   style="font-size: 90px;{{ ckeditor ? ' cursor: pointer;' }}"
                                   aria-hidden="true"
                                   {% if ckeditor %}
                                       onclick="window.opener.CKEDITOR.tools.callFunction({{ app.request.query.get('CKEditorFuncNum') }}, '{{ link }}'); window.close()"
                                   {% endif %}
                                ></i>
                            {% else %}
                                {% set link = path('home')~'uploads/'~relativePath %}
                                <img data-relative-path="{{ relativePath }}" class="media-explorer-media"
                                     src="{{ link }}" width="90px"
                                     style="{{ ckeditor ? ' cursor: pointer;' }}"
                                     {% if ckeditor %}
                                         onclick="window.opener.CKEDITOR.tools.callFunction({{ app.request.query.get('CKEditorFuncNum') }}, '{{ link }}'); window.close();"
                                     {% endif %}
                                />
                            {% endif %}

                            {% if not ckeditor %}
                                <div class="caption">
                                    <p class="input-group">
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary clipboard-btn" data-clipboard-target="#link_{{ loop.index }}">
                                                <i class="fa fa-copy"></i>
                                            </button>
                                        </span>
                                        <input type="text" value="{{ link }}" id="link_{{ loop.index }}" readonly class="form-control">
                                    </p>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% else %}
                    <div class="{{ thumbnailClass }}">
                        <p>Aucun fichier.</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
