{% extends app.request.xmlHttpRequest ? 'admin/xhr_media_explorer_layout.html.twig' : '@EasyAdmin/default/layout.html.twig' %}

{% block flash_messages %}
    {{ include('@EasyAdmin/default/flash_messages.html.twig') }}
{% endblock flash_messages %}

{% block main %}
    {% set routeName = 'admin_media_explorer' %}

    {% if breadcrumb|length > 1 %}
        <ol class="breadcrumb {% if app.request.xmlHttpRequest %}breadcrumb-ajax{% endif %}" {% if not app.request.xmlHttpRequest %}style="margin-bottom: 0"{% endif %}>
            {% for element in breadcrumb %}
                <li><a href="{{ element.url }}">{{ element.name }}</a></li>
            {% endfor %}
        </ol>
    {% endif %}

    <div class="row">
        <div class="col-sm-12">
            {% if breadcrumb|length > 1 %}
                <form method="POST" action="{{ path(routeName, { path: currentPath }) }}" enctype="multipart/form-data">
                    <div class="input-group">
                        {{ form_widget(formUpload.file, { attr: { class: 'form-control'} }) }}
                        {{ form_rest(formUpload) }}
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit"><i class="fa fa-cloud-upload"></i> Envoyer le fichier dans le dossier courant</button>
                        </span>
                    </div>
                    <div class="text-danger">
                        {{ form_errors(formUpload.file) }}
                    </div>
                </form>
            {% else %}
                <div class="text-danger">
                    Vous devez sélectionner un dossier pour pouvoir envoyer de nouveaux fichiers.
                </div>
            {% endif %}
        </div>
    </div>
    <br>

    {% set thumbnailClass = 'col-sm-3' %}

    <div class="panel panel-default">
        <div class="panel-heading"><strong>Media</strong></div>
        <ul class="list-group" style="margin: 0">
            {% for directory in directories %}
                <li class="list-group-item">
                    <a href="{{ path(routeName, { path: currentPath ~ '/' ~ directory.basename }) }}">
                        <i class="fa fa-folder"></i> {{ directory.basename }}
                    </a>
                </li>
            {% endfor %}
            <li class="list-group-item">
                <form method="POST" action="{{ path(routeName, { path: currentPath }) }}">
                    <div class="input-group">
                        {{ form_errors(formFolder.folderName) }}
                        {{ form_widget(formFolder.folderName, { attr: { class: 'form-control', placeholder: 'Nom du dossier'} }) }}
                        {{ form_rest(formFolder) }}
                        <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> Créer le dossier</button>
                </span>
                    </div>
                </form>
            </li>
        </ul>

        <div class="panel-body data-manager-thumbnail">
            <div class="row">
                {% for media in medias %}
                    <div class="{{ thumbnailClass }}">
                        <div class="thumbnail" style="height: 175px; text-align: center; padding: 20px;">
                            {% set typeOfFile = null %}
                            {% if media.extension == 'pdf' %}
                                {% set typeOfFile = 'pdf' %}
                            {% elseif media.extension == 'zip' %}
                                {% set typeOfFile = 'archive' %}
                            {% elseif media.extension == 'xls' or media.extension == 'xlsx' %}
                                {% set typeOfFile = 'excel' %}
                            {% elseif media.extension == 'doc' or media.extension == 'docx' %}
                                {% set typeOfFile = 'word' %}
                            {% endif %}

                            {% set relativePath = currentPath|trim('/') ~ '/' ~ media.basename %}

                            {% if typeOfFile %}
                                <i class="fa fa-file-{{ typeOfFile }}-o" style="font-size: 60px" aria-hidden="true"></i>
                                {% set downloadLink = path('download_show', { path: currentPath ~ '/' ~ media.basename } ) %}
                                {% set link = downloadLink|replace({'/app_dev.php': '', '/app.php': ''}) %}
                                <input type="text" style="width: 100%; margin-top: 5px;" readonly="readonly" value="{{ link }}" data-relative-path="/{{ relativePath }}" />
                            {% else %}
                                {% set downloadLink = path('home')~'uploads/'~relativePath %}
                                <img data-relative-path="{{ relativePath }}" src="{{ downloadLink }}" width="90px" />
                            {% endif %}

                            <div class="caption">
                                <small>
                                    {{ media.basename }}
                                    {% if downloadLink is defined %}
                                        <a href="{{ downloadLink }}" target="_blank">
                                            <i class="fa fa-external-link" aria-hidden="true"></i>
                                        </a>
                                    {% endif %}
                                </small>
                                <br>
                                <small>{{ media.mTime|localizeddate('short', 'short') }}</small>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="{{ thumbnailClass }}">
                        <p>Aucun fichier.</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
