{% extends 'base.html.twig' %}

{% block body %}
    {{ include('_header.html.twig') }}

    <div class="container px-0">
        <div class="row mb-3">
            <div class="col-sm-6 offset-sm-3">
                <h2>Contactez-moi</h2>
                <p>
                    Bla, Bla,Bla,Bla,Bla,Bla,Bla,Bla,Bla,Bla,Bla,Bla,Bla,
                </p>

                {% if app.session.flashbag.has('success') %}
                    {% for flash_message in app.session.flashbag.get('success') %}
                        <div role="alert" class="alert alert-success">{{ flash_message }}</div>
                    {% endfor %}
                {% endif %}

                {% if form is defined %}
                    {{ form_start(form) }}
                    <div class="form-group">
                        {{ form_errors(form.name) }}
                        {{ form_label(form.name) }}
                        {{ form_widget(form.name, { attr: { class: 'form-control' } }) }}
                    </div>

                    <div class="form-group">
                        {{ form_errors(form.email) }}
                        {{ form_label(form.email) }}
                        {{ form_widget(form.email, { attr: { class: 'form-control' } }) }}
                    </div>

                    <div class="form-group">
                        {{ form_errors(form.subject) }}
                        {{ form_label(form.subject) }}
                        {{ form_widget(form.subject, { attr: { class: 'form-control' } }) }}
                    </div>

                    <div class="form-group">
                        {{ form_errors(form.message) }}
                        {{ form_label(form.message) }}
                        {{ form_widget(form.message, { attr: { class: 'form-control', rows: 8 } }) }}
                    </div>

                    <button type="submit" class="btn btn-primary mt-5">Envoyer le message</button>

                    {{ form_end(form) }}
                {% else %}
                    <a href="{{ path('home') }}">Retourner à l'accueil du site</a>
                {% endif %}
            </div>
        </div>
    </div>

    {{ include('_footer.html.twig') }}
{% endblock %}
