{% extends 'base.html.twig' %}

{% block body %}
    {{ include('_header.html.twig') }}

    <div class="container p-0">
        <div class="row mb-5">
            <div class="col-sm-12 text-center">
                <h2 class="h1" style="text-shadow: 1px 2px 3px rgba(0,0,0,0.3);">Bienvenue sur le site de Chubbycoon</h2>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-8">
                <div class="card flex-md-row text-white bg-dark mb-4 p-4 h-md-250">
                    <img class="card-img-left flex-auto d-none d-md-block" src="{{ asset('build/images/qui-suis-je.jpg') }}">
                    <div class="card-body d-flex flex-column align-items-start pt-0">
                        <h2 class="h3 mb-4">Qui suis-je ?</h2>
                        <p class="card-text mb-auto">

                        </p>
                        <a href="http://wlcmtc.info/cv-simon-gosselin.pdf" class="btn btn-outline-light px-5 py-2">
                            Consultez mon CV
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card flex-md-row mb-4 p-3 h-md-250">
                    <div class="card-body d-flex flex-column align-items-start pt-0">
                        <h2 class="h3 mb-3 mx-auto">Contactez-moi</h2>
                        <img src="{{ asset('build/images/logo.png') }}" alt="logo chubbycoon" class="mx-auto">
                        <ul class="mb-3 mt-3 mx-auto">
                            <li class="h5 font-weight-normal">Demande d'info</li>
                            <li class="h5 font-weight-normal">Demande de devis</li>
                            <li class="h5 font-weight-normal">Demande de disponibilité</li>
                        </ul>
                        <a href="#" class="btn btn-primary px-5 py-2 mx-auto mb-auto">Me contacter</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container px-0">
        <div class="row mb-3">
            <div class="col-sm-12">
                <h2>Mes dernières réalisations</h2>
            </div>
        </div>
        <div class="row mb-2">
            <div class="card-deck px-3 mb-4">
                {% for article in articles %}
                    <div class="card">
                        <img class="card-img-top" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22200%22%20height%3D%22250%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20200%20250%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_162d371c3ee%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A13pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_162d371c3ee%22%3E%3Crect%20width%3D%22200%22%20height%3D%22250%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2255.20000076293945%22%20y%3D%22131%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{{ path('article_show', { id: article.id }) }}">
                                    {{ article.title }}
                                </a>
                                <span class="badge badge-light">{{ article.category.name }}</span>
                            </h5>
                            <p class="card-text">{{ article.content[:100] ~ '...' }}</p>
                            <a href="{{ path('article_show', { id: article.id }) }}">
                                Voir la suite
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <a href="{{ path('article_list') }}" class="btn btn-primary btn-lg mt-5 px-5 py-2 mx-auto mb-auto">Toutes mes réalisations</a>
        </div>
    </div>
    <div class="container-fluid py-5 mt-5 mb-0 bg-secondary text-dark">
        <div class="container">
            <div class="row">
                <div class="col-md-4 border border-bottom-0 border-top-0 border-left-0 border-dark">
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-dark">Mon CV</a></li>
                        <li><a href="#" class="text-dark">Mes réalisations</a></li>
                        <li><a href="#" class="text-dark">Mes photos</a></li>
                    </ul>
                </div>
                <div class="col-md-4 text-center border border-bottom-0 border-top-0 border-left-0 border-dark pt-4">
                    <a href="#" class="text-dark">Contactez-moi</a>
                </div>
                <div class="col-md-4 text-right">
                    <h5 class="h6">Retrouvez-moi sur les réseaux sociaux</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid py-3 mt-0 bg-dark text-white">
        <div class="row justify-content-between">
            <div class="col-4 align-self-center">
                <p class="m-0">© Chubbycoon {{ 'now'|date('Y') }}</p>
            </div>
            <div class="col-4 align-self-center">
                <p class="pull-right m-0">
                    <a href="#">Mentions légales</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
