{% extends 'base.html.twig' %}

{% block body %}
    {{ include('_header.html.twig') }}

    <div class="container px-0">
        <div class="row mb-3">
            <div class="col-sm-8">
                <h2 class="mb-5">
                    {{ article.title }}
                    <span class="badge badge-light">{{ article.category.name }}</span>
                </h2>
                <p>
                    {{ article.content|raw }}
                </p>
            </div>
            <div class="col-sm-3 offset-sm-1">
                <h3>Articles similaires</h3>
                <ul class="list-unstyled">
                    {% for relatedArticle in relatedArticles %}
                        <li>
                            <a href="{{ path('article_show', { id: relatedArticle.id }) }}">{{ relatedArticle.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    {{ include('_footer.html.twig') }}
{% endblock %}
